.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:160px 8% 80px;

    background:linear-gradient(135deg,#06283D,#136F8A);

    overflow:hidden;

}
.hero-content{

    width:50%;

}

.badge{

    display:inline-block;

    padding:10px 20px;

    border-radius:30px;

    background:#0B5ED7;

    margin-bottom:25px;

}

.hero h1{

    font-size:64px;

    line-height:1.1;

    margin-bottom:25px;

}

.hero h1 span{

    color:#55C1FF;

}

.hero p{

    font-size:20px;

    line-height:1.7;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.hero-image{

    width:45%;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:100%;

    max-width:500px;

}